html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  grid-template-rows: 20px auto 20px;
}

.topplayer {
  background-color: blue;
  width: 200px;
  height: 100%;
  position: relative;
}

.bottomplayer {
  background-color: green;
  width: 200px;
  height: 100%;
  position: relative;
}

.ball {
  background-color: black;
  width: 10px;
  height: 10px;
  position: relative;
}
